# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# Jupyter
.ipynb_checkpoints

# VS Code
.vscode/

# macOS
.DS_Store

# Distribution / packaging
dist/
build/
*.egg-info/
.pip-wheel-metadata/

# Pytest
.pytest_cache/

# Others
*.sqlite3
*.db

# Python version managers
.python-version
